{% extends 'partials/base.html.twig' %} 
{# this file extends the base file #}


{# following block gets included in the main section of the base file #}

{% block content %}
    <div class="container function-container switch-cont">
        <div class="row width">
            <div class="col d-small-none">
                 {% include 'partials/breadcrumbs.html.twig' %}
            </div>
            <div class="col">
             <div class="sm-search-container">
                {% include 'partials/simplesearch_searchbox.html.twig' %}
             </div>
            </div>
        </div>
    </div>
    <div class="container content-container switch-cont">
            <div class="row">
                <div class="col-12">
                    <h2 class="page-title">{{ page.title }}</h2>
                    {# Content from the page gets printed out #}
                    {{ page.content }}
                </div>
            </div>
    </div>
{% endblock %}
